/* TEI styles */

p.DoSBlockquote {
	padding: 0 50px;
}
span.italics {
	font-style: italic;
}
span.bold {
	font-weight: bold;
}
a.annotation.hide {
	cursor: auto;
}
#content a.annotation.hide:hover {
	text-decoration: none;
}
a.annotation.highlighted {
	background-color: yellow;
}
