/* TEI styles */

p.DoSBlockquote {
	padding: 20px 50px;
}
span.italics {
	font-style: italic;
}
span.bold {
	font-weight: bold;
}

/* annotation styles */
a.annotation {
	background-color: #ffffc0;
}
a.annotation.multiple {
	background-color: #ffff70;
}
a.annotation.highlighted {
	background-color: #ffbb00;
}

